/* Loginpage.css */

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Make the container take the full height of the viewport */
  background: linear-gradient(#000E09, #000000);
  color: #00FF00; /* Green color for text */
  font-family: 'Mulish', sans-serif; /* Use Mulish font */
}

.logo {
  width: 100px; /* Adjust the logo size as needed */
}

h2 {
  font-size: 24px;
  margin: 10px 0;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; /* Make the form take the full width */
}

input {
  width: 80%; /* Adjust input width as needed */
  padding: 10px;
  margin: 5px 0;
  border-radius: 20px;
  background-color: #313131;
}

.login-button {
  width: 80%;
  height: 40px;
  font-size: 14px;
  margin: 10px 0;
  background-color:  #00FF2580; /* Dark background color */
  border: none;
  border-radius: 20px;
  color: #313131;
  cursor: pointer;
}/* Green text color */
  

.forgot-password-link {
  color: #00FF00; /* Green color for the link */
  margin-top: 10px;
  text-decoration: none;
  cursor: pointer;
}






