

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; 
  background: linear-gradient(#000E09, #000000);
  color: #00FF00; 
  font-family: 'Mulish', sans-serif; 
}

.logo {
  width: 100px; 
}

h2 {
  font-size: 24px;
  margin: 10px 0;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; 
}

input {
  width: 80%; 
  padding: 10px;
  margin: 5px 0;
  border-radius: 20px;
  background-color: #313131;
}

.login-button {
  width: 80%;
  height: 40px;
  font-size: 14px;
  margin: 10px 0;
  background-color:  #00FF2580; 
  border: none;
  border-radius: 20px;
  color: #313131;
  cursor: pointer;
}
  

.forgot-password-link {
  color: #00FF00; 
  margin-top: 10px;
  text-decoration: none;
  cursor: pointer;
}






