.worker-page-container {
  position: relative;
  background: linear-gradient(#000e09, #000000);
  padding: 20px;
  text-align: center;
}

.logo-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.main-logo {
  width: 100px;
}

.search {
  margin-bottom: 20px;
}

input[type='text'] {
  width: calc(100% - 40px);
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  text-align: center;
  border: none;
  color: white;
}

.employee-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.employee-item {
  width: calc(50% - 10px);
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  margin-bottom: 10px;
  justify-content: left;
  position: relative;
  border-radius: 40px;
}

.employee-badge {
  width: 30px;
  height: 30px;
  background-color: #313131;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
}

.emp {
  color: aliceblue;
}

.green-icon {
  color: green;
  height: 30px;
  width: 30px;
}

button {
  background-color: #313131;
  height: 80px;
  width: 100px;
  border-radius: 20px;
}

.worker-logo {
  width: 50px;
  position: absolute;
  top: 20px;
  right: 20px;
}
.dob-data
{
  color: orange;
}
.role-data 
{
 color:green;
}
.emp
{
  color: white;
}